.logo {
   
    &__loader {
        position: fixed;
        top:50%;
        left:40%;
        width: 800px;
        height: 100%;
        z-index: 1000;
        display: flex;
        flex-direction:row ;
        font-family:inherit;
        color: black;
        font-size: 5em;      
        animation:  fade-out ease-in 3s forwards ;


        & p {
            font-family: 'Shrikhand';
        }

        &__oh {
            animation: loader 600ms;
            animation-delay: 200ms;
            transform-origin: center center;
            
        }

        &__my {
            animation: loader 600ms;
            transform-origin: center center;
            animation-delay: 700ms;
        }

        &__food {
            animation: loader 600ms;
            transform-origin: center center;
            animation-delay: 1400ms;
        }

        @keyframes loader {
            0% {
                
                transform:scaleX(1) ;
            }

            50% {
                transform:scaleX(2) translate3d(0, -10%, 150px);
                perspective :150px;
            }

            100% {
                transform:scaleX(1) ;
            }
        }

        @keyframes fade-out {
            0% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }

    }
}