@import "./base/fonts";
@import "./utils/variables";
@import "./composants/button";
@import "./utils/mixin"; 
@import "./layout/header";
@import "./composants/button";
@import "./pages/location-bar";
@import "./pages/introduction";
@import "./pages/fonction";
@import "./pages/restaurants-cards";
@import "./layout/footer";

// Page 1 section menu //

.menu {

    &__header {
        position: relative;
        @include medium-mobile {
            position: inherit;
        }

        @include medium-mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 30px;
            padding-bottom: 30px;

            & img {
                width: 375px;
                border-radius: 14px;
            }
        }
        @include small-tablette {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                background-color: $quinary-color;

                & img {
                    margin-left: 25px;
                }
                
                
        }
        

        &__title {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            background-color: $quaternary-color;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            padding-top: 39px;
            position: absolute;
            bottom: -25px;
            width: 100%;
            
            & h2 {
                font-weight: 500;
                font-size: 1.8em;
                padding-right: 20px;
                padding-left: 20px;
                font-family: 'Shrikhand', sans-serif;
            }
            & i {
                font-size: 1.5em;
                padding-right: 38px;
            }
            @include medium-mobile {
               padding-top: 30px; 
               position: inherit;
               background-color: inherit;
               justify-content: center;
               
            }
            @include small-tablette {
                padding-top: 0;
                & h2 {
                    font-size: 2em;
                }
            }
        }          
    }

    &__choice {
        padding-top: 60px;
        background-color: $quaternary-color;
        

        & h3 {
            padding-left: 20px;
            font-size: 1em;
            font-weight: 400;
        }

        &__barre {
            padding-left: 20px;

        }

        &__barre::after {
            content: "";
            width: 40px;
            height: 3px;
            background-color: $tertiary-color;
            display: block;
        }

        &__entre li {
            background-color: white;
        }
    }

        
}




