@mixin mobile-picture-size{
    &__full{
        display: none;
    }
    &__mobile{
        display: block;
    }
}

@mixin full-picture-size{
    &__full{
        display: block;
    }
    &__mobile{
        display: none;
    }
}

@mixin header {
        display: flex;
        justify-content: center;
        margin: 23px auto 18px auto;
}


@mixin mobile {
    @media all and (max-width: map-get($breakpoints, mobile-size )){
        @content
    }
}

@mixin tablette {
    @media all and (min-width: map-get($breakpoints, tablet-size )){
        @content
    }
}

@mixin laptop {
    @media all and (min-width: map-get($breakpoints, laptop-size )){
        @content
    }
}

@mixin button {
    background-color: $primary-color;
    border-radius: 40px;
    color: white;
    border: 1px solid $primary-color;
    padding: 22px;
    font-size: 1.1rem;
}
