@mixin mobile-picture-size{
    &__full{
        display: none;
    }
    &__mobile{
        display: block;
    }
}

@mixin full-picture-size{
    &__full{
        display: block;
    }
    &__mobile{
        display: none;
    }
}

@mixin header {
        display: flex;
        justify-content: center;
        margin: 23px auto 18px auto;
}

@mixin small-mobile {
    @media all and (min-width:map-get($breakpoints, small-mobile-size )){
        @content
    }
}

@mixin small-medium-mobile {
    @media all and (min-width:map-get($breakpoints, small-medium-size )){
        @content
    }
}

@mixin medium-mobile {
    @media all and (min-width: map-get($breakpoints , medium-mobile-size )){
        @content
    }
}

@mixin large-mobile {
    @media all and (min-width:map-get($breakpoints, large-mobile-size )){
        @content
    }
}

@mixin small-extra-large-mobile {
    @media all and (min-width:map-get($breakpoints, small-extra-large-mobile-size )){
        @content
    }
}

@mixin extra-large-mobile {
    @media all and (min-width:map-get($breakpoints, extra-large-mobile-size )){
        @content
    }
}

@mixin max-mobile {
    @media all and (max-width: map-get($breakpoints, max-large-mobile-size )){
        @content
    }
}

@mixin small-tablette {
    @media all and (min-width: map-get($breakpoints, small-tablette-size )){
        @content
    }
}

@mixin medium-tablette {
    @media all and (min-width :map-get($breakpoints, medium-tablette-size )){
        @content
    }
}

@mixin laptop {
    @media all and (min-width: map-get($breakpoints, laptop-size )){
        @content
    }
}

@mixin medium-laptop {
    @media all and (min-width:map-get($breakpoints, medium-laptop-size )){
        @content
    }
}

@mixin large-laptop {
    @media all and (min-width: map-get($breakpoints, large-laptop-size )){
        @content
    }
}
@mixin extra-large-laptop {
    @media all and (min-width: map-get($breakpoints, extra-large-laptop-size)){
        @content
    }
}

@mixin xxl-laptop {
    @media all and (min-width: map-get($breakpoints, xxl-laptop-size )){
        @content
    }
}

@mixin button {
    background-color: $primary-color;
    border-radius: 40px;
    color: white;
    border: 1px solid $primary-color;
    padding: 22px;
    font-size: 1.1rem;
}
