$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$quaternary-color: #f6f6f6;
$quinary-color: #e5e5e5;
$senary-color: #353535;
$septenary-color:#f1ebeb;
$octonary-color:#d32f2f;

$heading-size-mobile:1.5rem;
$heading-size-medium:1.8rem;
$heading-size-large:2rem;

$breakpoints: (
    small-mobile-size: 320px,
    small-medium-size:340px,
    medium-mobile-size: 376px,
    large-mobile-size: 425px,
    small-extra-large-mobile-size: 620px,
    extra-large-mobile-size:710px,
    max-large-mobile-size: 767px,
    small-tablette-size: 768px,
    medium-tablette-size: 782px,
    laptop-size: 1024px,
    medium-laptop-size:1134px,
    large-laptop-size: 1163px,
    extra-large-laptop-size: 1380px,
    xxl-laptop-size:1420px
);