$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$quaternary-color: #f6f6f6;
$heading-size-mobile:1.5rem;
$heading-size-medium:1.8rem;

$breakpoints: (
    mobile-size: 767px,
    tablet-size: 768px,
    laptop-size: 1024px
);