* {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.titre-footer {
  font-family: "Shrikhand", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.btn {
  background-color: #9356DC;
  border-radius: 40px;
  color: white;
  border: 1px solid #9356DC;
  padding: 22px;
  font-size: 1.1rem;
}

.logo-site {
  display: flex;
  justify-content: center;
  margin: 23px auto 18px auto;
}
@media all and (max-width: 767px) {
  .logo-site__full {
    display: none;
  }
  .logo-site__mobile {
    display: block;
  }
  .logo-site #arrow {
    position: absolute;
    top: 27px;
    left: 24px;
    size: 1.5rem;
    color: black;
  }
}
@media all and (min-width: 768px) {
  .logo-site__full {
    display: block;
  }
  .logo-site__mobile {
    display: none;
  }
  .logo-site #arrow {
    position: absolute;
    top: 30px;
    left: 24px;
    font-size: 1.5rem;
    color: black;
  }
}

.btn {
  background-color: #9356DC;
  border-radius: 40px;
  color: white;
  border: 1px solid #9356DC;
  padding: 22px;
  font-size: 1.1rem;
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #eaeaea;
  padding-top: 18px;
  padding-bottom: 18px;
}
.location input::placeholder {
  color: black;
  opacity: 1;
}
.location__city {
  border: none;
  background-color: #eaeaea;
  font-size: 1.1rem;
  font-weight: 400;
}
@media all and (min-width: 768px) {
  .location__city {
    font-size: 1.5rem;
  }
}
.location__logo {
  margin: auto 16px auto 30px;
  font-size: 1.2rem;
  padding-left: 50px;
}
@media all and (min-width: 768px) {
  .location__logo {
    font-size: 1.5rem;
    padding-left: 64px;
  }
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 43px;
  padding-bottom: 56px;
  background-color: #f6f6f6;
}
.introduction h1 {
  font-size: 1.5rem;
  text-align: center;
  margin: 0 64px 0 64px;
}
@media all and (min-width: 768px) {
  .introduction h1 {
    font-size: 1.8rem;
  }
}
.introduction p {
  font-size: 1.1rem;
  text-align: center;
  margin: 20px 36px 34px 36px;
  opacity: 0.5;
}
@media all and (min-width: 768px) {
  .introduction p {
    font-size: 1.5rem;
  }
}
@media all and (min-width: 768px) {
  .introduction .btn {
    font-size: 1.5rem;
  }
}
@media all and (min-width: 1024px) {
  .introduction {
    flex-direction: row;
    justify-content: space-around;
  }
}

.fonction h2 {
  padding: 50px 0 0 20px;
  margin-bottom: 0;
}
@media all and (min-width: 768px) {
  .fonction h2 {
    font-size: 1.8rem;
  }
}
@media all and (min-width: 782px) {
  .fonction h2 {
    text-align: center;
  }
}
.fonction__step {
  height: 265px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 0 65px 0;
  margin-right: 10px;
}
@media all and (min-width: 768px) {
  .fonction__step {
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 20px;
  }
}
.fonction__step__card {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.fonction__step__card a {
  text-decoration: none;
  color: black;
}
.fonction p {
  position: relative;
  right: -17px;
  color: white;
  padding: 6px 11px 6px 11px;
  background-color: #9356DC;
  border-radius: 20px;
}
.fonction__step__card__explanation {
  display: flex;
  flex-direction: row;
  background-color: #f6f6f6;
  text-decoration: none;
  border-radius: 27px;
  min-width: 280px;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  box-shadow: 4px 4px 10px #e5e5e5;
  font-size: 0.9em;
}
.fonction__step__card__explanation h3 {
  margin: 0;
  padding-left: 18px;
}
.fonction__step__card__explanation i {
  display: block;
  width: 18px;
  padding-left: 34px;
  opacity: 0.5;
  font-size: 1.3em;
}
.fonction__step__card__explanation:hover {
  background-color: #f5edff;
}
.fonction__step__card__explanation:hover i {
  color: #9356DC;
  opacity: 1;
}
@media all and (min-width: 768px) {
  .fonction__step__card__explanation {
    width: 350px;
  }
}

body {
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
