* {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.btn {
  background: linear-gradient(to top, #9356DC, #ef74da);
  border-radius: 40px;
  color: white;
  border: 0;
  padding: 22px;
  font-size: 1.1rem;
  box-shadow: 0px 0px 10px #bbbbbb;
  cursor: pointer;
}

.logo-site {
  display: flex;
  justify-content: center;
  margin: 23px auto 18px auto;
}
@media all and (max-width: 767px) {
  .logo-site__full {
    display: none;
  }
  .logo-site__mobile {
    display: block;
  }
  .logo-site #arrow {
    position: absolute;
    top: 27px;
    left: 24px;
    size: 1.5rem;
    color: black;
  }
}
@media all and (min-width: 768px) {
  .logo-site__full {
    display: block;
  }
  .logo-site__mobile {
    display: none;
  }
  .logo-site #arrow {
    position: absolute;
    top: 30px;
    left: 24px;
    font-size: 1.5rem;
    color: black;
  }
}

.btn {
  background: linear-gradient(to top, #9356DC, #ef74da);
  border-radius: 40px;
  color: white;
  border: 0;
  padding: 22px;
  font-size: 1.1rem;
  box-shadow: 0px 0px 10px #bbbbbb;
  cursor: pointer;
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #eaeaea;
  padding-top: 18px;
  padding-bottom: 18px;
}
.location input::placeholder {
  color: black;
  opacity: 1;
}
.location__city {
  border: none;
  background-color: #eaeaea;
  font-size: 1.1rem;
  font-weight: 400;
}
@media all and (min-width: 768px) {
  .location__city {
    font-size: 1.5rem;
  }
}
.location__logo {
  margin: auto 16px auto 30px;
  font-size: 1.2rem;
  padding-left: 50px;
}
@media all and (min-width: 768px) {
  .location__logo {
    font-size: 1.5rem;
    padding-left: 64px;
  }
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 43px;
  padding-bottom: 56px;
  background-color: #f6f6f6;
}
.introduction h1 {
  font-size: 1.5rem;
  text-align: center;
  margin: 0 64px 0 64px;
}
@media all and (min-width: 768px) {
  .introduction h1 {
    font-size: 1.8rem;
  }
}
@media all and (min-width: 1024px) {
  .introduction h1 {
    font-size: 2rem;
  }
}
.introduction p {
  font-size: 1.1rem;
  text-align: center;
  margin: 20px 36px 34px 36px;
  opacity: 0.5;
}
@media all and (min-width: 768px) {
  .introduction p {
    font-size: 1.5rem;
  }
}
@media all and (min-width: 1024px) {
  .introduction p {
    margin: 40px auto 60px auto;
    font-size: 1.8rem;
  }
}
@media all and (min-width: 768px) {
  .introduction .btn {
    font-size: 1.5rem;
  }
}
@media all and (min-width: 768px) and (min-width: 1024px) {
  .introduction .btn {
    font-size: 1.8rem;
  }
}

.fonction h2 {
  padding: 50px 0 0 20px;
  margin-bottom: 0;
}
@media all and (min-width: 768px) {
  .fonction h2 {
    font-size: 1.8rem;
  }
}
@media all and (min-width: 376px) {
  .fonction h2 {
    text-align: center;
  }
}
@media all and (min-width: 1024px) {
  .fonction h2 {
    font-size: 2rem;
  }
}
.fonction__step {
  height: 265px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 0 65px 0;
  margin-right: 10px;
}
@media all and (min-width: 782px) {
  .fonction__step {
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 20px;
  }
}
@media all and (min-width: 1163px) {
  .fonction__step {
    height: auto;
  }
}
@media all and (min-width: 1420px) {
  .fonction__step {
    width: 1420px;
    margin: 20px auto 20px auto;
  }
}
.fonction__step__card {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.fonction__step__card a {
  text-decoration: none;
  color: black;
}
@media all and (min-width: 320px) {
  .fonction__step__card {
    justify-content: center;
  }
}
@media all and (min-width: 1163px) {
  .fonction__step__card {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.fonction__step__card p {
  position: relative;
  right: -17px;
  color: white;
  padding: 6px 11px 6px 11px;
  background-color: #9356DC;
  border-radius: 20px;
}
.fonction__step__card__explanation {
  display: flex;
  flex-direction: row;
  background-color: #f6f6f6;
  text-decoration: none;
  border-radius: 27px;
  min-width: 270px;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  box-shadow: 1px 1px 20px #e5e5e5;
  font-size: 0.9em;
}
@media all and (min-width: 376px) {
  .fonction__step__card__explanation {
    min-width: 325px;
  }
}
@media all and (min-width: 1024px) {
  .fonction__step__card__explanation {
    width: 400px;
  }
}
.fonction__step__card__explanation h3 {
  margin: 0;
  padding-left: 18px;
}
@media all and (min-width: 768px) {
  .fonction__step__card__explanation h3 {
    font-size: 1.4em;
  }
}
@media all and (min-width: 1024px) {
  .fonction__step__card__explanation h3 {
    font-size: 1.5rem;
  }
}
.fonction__step__card__explanation i {
  display: block;
  width: 18px;
  padding-left: 34px;
  opacity: 0.5;
  font-size: 1.3em;
}
.fonction__step__card__explanation:hover {
  background-color: #f5edff;
  box-shadow: 1px 1px 20px #9356DC;
}
.fonction__step__card__explanation:hover i {
  color: #9356DC;
  opacity: 1;
}
@media all and (min-width: 768px) {
  .fonction__step__card__explanation {
    width: 350px;
  }
}

.restaurants {
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f6f6f6;
  margin-right: 0;
}
.restaurants__title {
  padding-top: 57px;
  padding-bottom: 27px;
}
@media all and (min-width: 376px) {
  .restaurants__title {
    text-align: center;
    padding-bottom: 20px;
  }
}
@media all and (min-width: 1024px) {
  .restaurants__title {
    font-size: 1.8rem;
  }
}
@media all and (min-width: 1163px) {
  .restaurants__title {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.restaurants__cards {
  padding-bottom: 63px;
  height: 1119px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media all and (min-width: 710px) {
  .restaurants__cards {
    flex-direction: inherit;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-evenly;
  }
}
@media all and (min-width: 1163px) {
  .restaurants__cards {
    justify-content: space-evenly;
  }
}
.restaurants__cards__info {
  position: relative;
  max-width: 335px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
}
@media all and (min-width: 376px) {
  .restaurants__cards__info {
    margin-bottom: 20px;
  }
}
.restaurants__cards__info__img {
  max-width: 100%;
  height: auto;
  border-radius: 15px 15px 0 0;
}
.restaurants__cards__info__img__new {
  background-color: #99e2d0;
  color: #008766;
  border-radius: 5px;
  padding: 8px 10px;
  width: 85px;
  text-align: center;
  font-size: 0.8rem;
  position: absolute;
  margin: 0;
  top: 10px;
  right: 10px;
}
@media all and (min-width: 376px) {
  .restaurants__cards__info__img__new {
    font-size: 1rem;
    padding: 8px 12px;
  }
}
.restaurants__cards__info a {
  text-decoration: none;
}
.restaurants__cards__info__description {
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 18px 18px 12px;
}
.restaurants__cards__info__description i {
  padding-top: 5px;
  font-size: 1.4rem;
  stroke-width: 0.5px;
}
.restaurants__cards__info__description__text {
  padding-left: 14px;
}
.restaurants__cards__info__description__text h3 {
  margin: 0;
  padding-bottom: 10px;
}
.restaurants__cards__info__description__text p {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
}

.footer-title {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
}
@media all and (min-width: 1163px) {
  .footer-title {
    font-size: 1.4em;
  }
}

footer {
  background-color: #353535;
  color: white;
  font-size: 1.1em;
  padding-top: 26px;
  padding-left: 24px;
  padding-bottom: 36px;
  padding-right: 24px;
}
@media all and (min-width: 1024px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
footer ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 93px;
  padding-top: 28px;
}
@media all and (min-width: 710px) {
  footer ul {
    flex-direction: row;
    width: 665px;
    padding-top: 0;
    align-items: center;
  }
}
@media all and (min-width: 710px) and (min-width: 1163px) {
  footer ul {
    width: 800px;
  }
}
footer ul li {
  list-style-type: none;
}
@media all and (min-width: 1163px) {
  footer ul li {
    font-size: 1.4em;
  }
}
footer ul a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: white;
  font-weight: 300;
  font-size: 0.8em;
}
footer ul i {
  width: 22px;
}
@media all and (min-width: 1163px) {
  footer ul i {
    font-size: 1.2em;
  }
}
footer ul p {
  padding-left: 12px;
}

.picture-restaurant__image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  margin-top: -50px;
}
.menu__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #f6f6f6;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding-top: 39px;
}
.menu__title h2 {
  font-weight: 500;
  font-size: 1.7em;
  padding-right: 20px;
  padding-left: 20px;
  font-family: "Shrikhand", sans-serif;
}
@media all and (min-width: 768px) {
  .menu__title h2 {
    font-size: 2em;
  }
}
@media all and (min-width: 1163px) {
  .menu__title h2 {
    font-size: 3em;
  }
}
.menu__title i {
  font-size: 1.5em;
  padding-right: 38px;
}
@media all and (min-width: 376px) {
  .menu__title {
    padding-top: 30px;
    justify-content: center;
  }
}
.menu__choice {
  padding-top: 45px;
}
@media all and (min-width: 1134px) {
  .menu__choice {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media all and (min-width: 620px) {
  .menu__choice__plate__title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.menu__choice__plate__title h3 {
  font-size: 1em;
  font-weight: 400;
  padding-bottom: 9px;
  margin-left: 19px;
}
@media all and (min-width: 620px) {
  .menu__choice__plate__title h3 {
    font-size: 1.3em;
  }
}
@media all and (min-width: 1163px) {
  .menu__choice__plate__title h3 {
    font-size: 1.6em;
  }
}
.menu__choice__plate__title__barre::after {
  margin-left: 19px;
  padding-left: 20px;
  content: "";
  width: 20px;
  height: 3px;
  background-color: #99E2D0;
  display: block;
}
@media all and (min-width: 620px) {
  .menu__choice__plate__title__barre::after {
    width: 50px;
  }
}
@media all and (min-width: 1163px) {
  .menu__choice__plate__title__barre::after {
    width: 70px;
  }
}
.menu__choice__plate__description {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media all and (min-width: 1163px) {
  .menu__choice__plate__description {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.menu__choice__plate__description h4 {
  font-size: 1.2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media all and (min-width: 320px) {
  .menu__choice__plate__description h4 {
    max-width: 260px;
  }
}
@media all and (min-width: 340px) {
  .menu__choice__plate__description h4 {
    max-width: none;
  }
}
@media all and (min-width: 620px) {
  .menu__choice__plate__description h4 {
    font-size: 1.4em;
  }
}
@media all and (min-width: 1163px) {
  .menu__choice__plate__description h4 {
    font-size: 1.6em;
    white-space: inherit;
  }
}
.menu__choice__plate__description p {
  padding-top: 10px;
  max-width: 240px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media all and (min-width: 340px) {
  .menu__choice__plate__description p {
    max-width: 270px;
  }
}
@media all and (min-width: 620px) {
  .menu__choice__plate__description p {
    font-size: 1.2em;
  }
}
@media all and (min-width: 1163px) {
  .menu__choice__plate__description p {
    font-size: 1.3em;
    max-width: 350px;
  }
}
.menu__choice__plate__price {
  padding: 40px 22px 15px 0;
  font-weight: bold;
  text-align: center;
  align-self: end;
}
@media all and (min-width: 1163px) {
  .menu__choice__plate__price {
    padding-bottom: 27px;
    font-size: 1.2em;
  }
}
.menu__choice__plate .check {
  transition: all 1000ms ease-in-out;
  transform: scaleX(0);
  transform-origin: right;
  height: 84px;
  border-radius: 0 15px 15px 0;
  padding: 0;
  margin: 0;
}
.menu__choice__plate ul {
  padding-bottom: 45px;
}
@media all and (min-width: 376px) {
  .menu__choice__plate ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media all and (min-width: 768px) {
  .menu__choice__plate ul {
    justify-content: space-around;
  }
}
@media all and (min-width: 1134px) {
  .menu__choice__plate ul {
    padding-bottom: 65px;
  }
}
.menu__choice__plate li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  min-width: 290px;
  max-width: 370px;
  margin: 12px 10px 0 10px;
  padding-left: 12px;
  border-radius: 15px;
  box-shadow: 4px 4px 10px #e5e5e5;
  cursor: pointer;
}
@media all and (min-width: 376px) {
  .menu__choice__plate li {
    width: 349px;
  }
}
@media all and (min-width: 620px) {
  .menu__choice__plate li {
    width: 450px;
    padding-left: 20px;
  }
}
@media all and (min-width: 1163px) {
  .menu__choice__plate li {
    padding-left: 22px;
    max-height: 200px;
    max-width: 500px;
  }
}
.menu__button {
  display: flex;
  justify-content: center;
  padding-bottom: 58px;
  background-color: #f6f6f6;
}
.menu__button .btn {
  padding: 18px 0;
  width: 184px;
}
@media all and (min-width: 1163px) {
  .menu__button .btn {
    font-size: 1.5em;
    width: 220px;
    height: 80px;
  }
}

/*# sourceMappingURL=style.css.map */
