// Footer //

* {
    margin: 0;
    padding:0;
}

.footer-title {
    font-family: 'Shrikhand', sans-serif;
    font-weight: 400;
    
    @include large-laptop {
            font-size: 1.4em;
    }
}

footer {
    background-color: $senary-color;
    color: white;
    font-size: 1.1em;
    padding-top:26px;
    padding-left:24px;
    padding-bottom: 36px;
    padding-right: 24px;
    
    @include laptop {
        display: flex;
        flex-direction: row;      
        justify-content: space-between;
        align-items: center;
    }

    & ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 93px;
        padding-top: 28px;

        @include extra-large-mobile {
            flex-direction: row;
            width: 665px;
            padding-top: 0;
            align-items: center;
            
            @include large-laptop {
                width: 800px;
            }
        }
        
        & li {
            list-style-type: none;
            
            @include large-laptop {
                font-size: 1.4em;
            }
        } 

        & a {
            display: flex;
            flex-direction: row;
            text-decoration: none;
            color: white;
            font-weight: 300;
            font-size: 0.8em;
        }

        & i {
            width: 22px;
            
            @include large-laptop {
                font-size: 1.2em;
            }
        }

        & p {
            padding-left: 12px;            
        }           
    } 
}

