.menu{

    &__choice {
        padding-top: 60px;
        background-color: $quaternary-color;
        
        &__plate {

            &__title {

                & h3 {
                    font-size: 1em;
                    font-weight: 400;
                    padding-bottom: 9px;
                    margin-left: 19px;
                }

                &__barre::after {
                    margin-left: 19px;
                    padding-left: 20px;
                    content:"";
                    width: 20px;
                    height: 3px;
                    background-color: $tertiary-color;
                    display: block;   
                } 
                
                @include small-extra-large-mobile {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    &__barre::after {
                        width: 50px;
                    }

                    & h3 {
                        font-size: 1.3em;
                    }
                }
                
            }

            &__description {
                display: flex;
                flex-direction: column;   
                padding-top: 16px;
                padding-bottom: 16px;  
                @include large-laptop {
                    padding-top:26px;
                    padding-bottom: 26px;
                }
                
                & h4 {
                    font-size: 1.2em;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                & p {
                    padding-top:10px;
                    max-width: 240px;
                    white-space: nowrap;  
                    overflow: hidden;
                    text-overflow: ellipsis;
                    @include small-medium-mobile {
                        max-width: 270px;
                    }
                    @include large-laptop {
                        font-size: 1.1em;
                    }
                }

                
            }

            &__price {
                padding : 40px 22px 15px 0;
                font-weight: bold;
                text-align: center;
                align-self: end;
                @include large-laptop {
                    padding-bottom: 27px;
                }
            }

            & ul {
                padding-bottom: 45px;

                @include medium-mobile {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                @include small-tablette {
                    flex-direction: inherit;
                    flex-wrap: wrap;
                    justify-content: space-around;
                }
                @include medium-laptop {
                    padding-bottom: 65px;
                }
            }

            & li {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                background-color: white;
                min-width: 290px;
                max-width: 370px;
                margin:12px 10px 0 10px;
                padding-left: 12px;
                border-radius: 15px;
                box-shadow:4px 4px 10px $quinary-color;

                @include medium-mobile {
                    width: 349px;
                }

                @include large-laptop {
                    padding-left: 22px;
                    max-height: 130px;
                    max-width: 400px;
                }                   
            }                       
        }
    }
    
    &__button {
        display: flex;
        justify-content: center;
        padding-bottom: 58px;

        & .btn {
            padding:18px 0;
            width: 184px;
            
            @include large-laptop {
                font-size: 1.5em;
                width: 220px;
                height: 80px;
            }  
        }       
    }
}