.menu{

    display: flex;
    flex-direction: column;
    background-color: $quaternary-color;   
    margin-top: -50px;
    &__title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background: $quaternary-color;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        padding-top: 39px;

        @include large-laptop {
            .heart__container{
                width: 40px;
                height: 40px;
            }
        }
        
        & h2 {
            font-weight: 500;
            font-size: 1.7em;
            padding-right: 20px;
            padding-left: 20px;
            font-family: 'Shrikhand', sans-serif;
            @include small-tablette {
                    font-size: 2em;
                }
            @include large-laptop {
                font-size: 3em;
            }
        }
        & i {
            font-size: 1.5em;
            padding-right: 38px;
        }
        @include medium-mobile {
           padding-top: 30px; 
           justify-content: center;
           
        }
    }

    &__choice {
        padding-top: 45px;
        @include medium-laptop {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        &__plate {

            &__title {

                @include small-extra-large-mobile {
                    display: flex;
                    flex-direction: column;
                    align-items: center;                    
                }

                & h3 {
                    font-size: 1em;
                    font-weight: 400;
                    padding-bottom: 9px;
                    margin-left: 19px;
                    @include small-extra-large-mobile {
                        font-size: 1.3em;
                    }
                    @include large-laptop {
                        font-size: 1.6em;
                    }
                }

                &__barre::after {
                    margin-left: 19px;
                    padding-left: 20px;
                    content:"";
                    width: 20px;
                    height: 3px;
                    background-color: $tertiary-color;
                    display: block;   
                    @include small-extra-large-mobile {
                        width:50px;
                    }
                    @include large-laptop {
                        width: 70px;
                    }
                } 
            }

            &__description {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                background-color: white;
                min-width: 290px;
                max-width: 370px;
                margin:12px 10px 0 10px;
                padding: 15px 0 15px 12px;
                border-radius: 15px;
                box-shadow:4px 4px 10px $quinary-color;
                cursor:pointer;

                &:hover .check { 
                    width: 100px !important; 
                    transform: translateX(0%) !important; 
                    opacity: 1 !important; 
                    visibility: visible !important; 
                    display: flex !important; 
                    position: initial !important; }
                
                &:hover .menu__choice__plate__description__dishes {
                    max-width: 50% !important;
                    white-space: nowrap;  
                    overflow: hidden;
                    text-overflow: ellipsis;

                }
                @include small-extra-large-mobile {
                    max-width: 550px;
                }
                @include large-laptop {
                    padding-top:20px;
                    padding-bottom: 20px;
                }
                
                &__dishes {
                    
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    & h4 {
                        font-size: 1.2em;
                        white-space: nowrap;  
                        overflow: hidden;
                        text-overflow: ellipsis;
                        @include small-mobile {
                            max-width: 260px;
                        }
                        @include small-extra-large-mobile {
                            font-size: 1.4em;
                            max-width: none;
                        }                    
                        @include large-laptop {
                            font-size: 1.5em;
                            white-space: inherit;
                        }
                    }
    
                    & p {
                        padding-top:10px;
                        max-width: 240px;
                        white-space: nowrap;  
                        overflow: hidden;
                        text-overflow: ellipsis;
                        @include small-medium-mobile {
                            max-width: 270px;
                        }
                        @include small-extra-large-mobile {
                            font-size: 1.2em;
                            max-width: 400px;
                        }
                        @include large-laptop {
                            max-width: 400px;
                        }
                    }               
                }

                & .check { 
                    width: 0;
                    align-items: center;
                    justify-content: center; 
                    background-color: $tertiary-color; 
                    transform: translateX(100%); 
                    transition: width .5s; 
                    opacity: 0; 
                    visibility: hidden; 
                    position: absolute; 
                    }
            }

            &__price {
                padding : 40px 22px 15px 0;
                font-weight: bold;
                text-align: center;
                align-self: end;
                @include large-laptop {
                    padding-bottom: 27px;
                    font-size: 1.2em;
                }                
            }
            


            & ul {
                padding-bottom: 45px;
                animation-delay: start 3000ms 3000ms;


                @include medium-mobile {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                @include small-tablette {
                    justify-content: space-around;
                }
                @include medium-laptop {
                    padding-bottom: 65px;
                }
            }

            & li {
                list-style: none;


                @for $i from 1 through 10 {
                    .delay-#{$i} {
                        opacity: 0; 
                        animation: cards ease-in 600ms both;  
                        transform-origin: top;              
                        animation-delay: 300ms * $i;
                    }
                }
                
                @keyframes cards {
                    0% {
                      opacity: 0;
                    }
                    50% {
                      opacity: 0.5;
                    }
                  
                    100% {

                      opacity: 1;
                    }
                }
                
                

                
                
                // @keyframes start {
                //     0% {
                //         opacity: 0;
                //         z-index: -1;
                //         transform: translateY(1rem);
                //     }
                    
                //     100% {
                //         opacity: 1;
                //         z-index: 0;
                //         transform: translateY(0);
                //     }
                // }

                // &:hover {

                //     & .description {
                //         & p {

                //             text-overflow: ellipsis;
                //         }
                //     }
                //     & .check {
                //         transform: translateX(0);
                //         background-color: $tertiary-color;
                //     }

                // }
                
                // @keyframes start {
                     
                //     0% {
                //         transform: scale(0);
                //     }
                //     100% {
                //         transform: scale(1);
                //         }
                // }

                // & .check {                
                    
                //     width: 80px;
                //     height: 100px;
                //     border-top-right-radius: 15px;
                //     border-bottom-right-radius: 15px;
                //     transform: translateX(80px);
                    
                //     transition: transform 1000ms 400ms;
                    

                //     & i {
                //         display: flex;
                //         justify-content: center;
                //         align-items: center;
                //     }
                    
                // }
                    
                

                @include medium-mobile {
                    width: 349px;
                }
                @include small-extra-large-mobile {
                    width: 450px;
                    padding-left: 20px;
                }

                @include large-laptop {
                    padding-left: 22px;
                    max-height: 200px;
                    max-width: 500px;
                }                   
            }                       
        }
    }
}
    
.order-button {
        
    display: flex;
    justify-content: center;
    padding-bottom: 58px;
    background-color: $quaternary-color;

    & .btn {
        padding:18px 0;
        width: 184px;
        
        @include large-laptop {
            font-size: 1.5em;
            width: 220px;
            height: 80px;
        }  
    }       
}
