// fonction // 

.fonction {
    & h2 { 
        padding: 50px 0 0 20px;     
        margin-bottom: 0;
        @include small-tablette {
            font-size: $heading-size-medium;
        }
        @include medium-mobile {
            text-align: center;
        }
        @include laptop{
            font-size: $heading-size-large;
        }
    }
    &__step {
        height: 265px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px 0 65px 0;
        margin-right: 10px;

        @include medium-tablette {
            justify-content: space-evenly;
            flex-direction: row;
            flex-wrap: wrap;
            margin-right: 20px;
        }

        @include large-laptop {
            height: auto;
        }
        @include xxl-laptop{
            width: 1420px;
            margin: 20px auto 20px auto;
        }
    }

    &__step__card {
        display: flex;
        flex-direction: row;   
        align-items: center; 
        & a {
            text-decoration: none;
            color: black;
        }
        @include small-mobile {
            justify-content: center;
        }
        
        @include large-laptop {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        
    
        & p {
            position: relative;
            right: -17px;
            color: white;
            padding: 6px 11px 6px 11px;
            background-color: $primary-color;
            border-radius: 20px;
        }
        &__explanation {
            display: flex;
            flex-direction: row;
            background-color: $quaternary-color;
            text-decoration: none;
            border-radius: 27px;
            min-width: 270px;
            align-items: center;
            padding-top: 25px;
            padding-bottom: 25px;
            box-shadow:1px 1px 20px $quinary-color;
            font-size: 0.9em;
            @include medium-mobile {
                min-width: 325px;

            }
            @include laptop{
                width: 400px;
            }
            & h3 {
                margin: 0;
                padding-left: 18px;
                @include small-tablette{
                    font-size: 1.4em;
                }
                @include laptop{
                    font-size: $heading-size-mobile;
                }       
            }
            
            & i {
                display: block;
                width: 18px;
                padding-left: 34px;
                opacity: 0.5;
                font-size: 1.3em;
            }
            &:hover {
                background-color: #f5edff;
                box-shadow:1px 1px 20px $primary-color;
                & i {
                    color: $primary-color;
                    opacity: 1;
                    
                }
            }
            @include small-tablette {
                width: 350px;
            }       
        }
    }
}