// introduction 

.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 43px;
    padding-bottom: 56px;
    background-color: $quaternary-color;
    & h1 {
        font-size:$heading-size-mobile;
        text-align: center;
        margin: 0 64px 0 64px; 
        @include small-tablette {
            font-size: $heading-size-medium;
        }
        @include laptop{
            font-size: $heading-size-large;
        }
    }
    & p {
        font-size: 1.1rem;
        text-align: center;
        margin: 20px 36px 34px 36px;
        opacity: 0.5;

        @include small-tablette {
            font-size: $heading-size-mobile;
        }

        @include laptop{
            margin: 40px auto 60px auto;
            font-size: $heading-size-medium;
        }
    }
    & .btn {
        @include small-tablette {
            font-size: $heading-size-mobile;
        @include laptop {
            font-size: $heading-size-medium;
        }
        }
    }
}