// Location bar //

.location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #eaeaea;
    padding-top: 18px;
    padding-bottom: 18px;
    
    & input::placeholder {
        color: black;
        opacity: 1;
    }
    
    &__city {
        border: none;
        background-color: #eaeaea;
        font-size: 1.1rem;   
        font-weight: 400;  
        @include tablette {
            font-size: 1.5rem;
        }   
    }
    &__logo {
        margin: auto 16px auto 30px;
        font-size: 1.2rem;
        padding-left: 50px;
        @include tablette {
            font-size: 1.5rem;
            padding-left: 64px;
        }
    }
    
}