// Section Restaurants //

.restaurants {
    padding-right: 20px;
    padding-left: 20px;
    background-color: $quaternary-color;
    margin-right: 0;
    
    &__title {
        padding-top: 57px;
        padding-bottom: 27px;
        
        @include medium-mobile {
            text-align: center;
            padding-bottom: 20px;
        }
        
        @include laptop{
            font-size: $heading-size-medium;
        }

        @include large-laptop {
            padding-top:60px;
            padding-bottom: 60px;
        }
    }    
    
    &__cards {
        padding-bottom: 63px;
        height: 1119px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
        @include extra-large-mobile {
            flex-direction: inherit;
            align-items: center;
            flex-wrap: wrap;
            height: auto;
            justify-content: space-evenly;
        }

        @include large-laptop{
            justify-content: space-evenly;
        }

        
        &__info {
            position: relative;
            max-width: 335px;
            background-color: white;
            border-radius:15px 15px 15px 15px;
            max-height: 278px;

            & .hearts {
                position: relative;
                left: 112px;
                bottom:73px;
            }
            
            @include medium-mobile {
                margin-bottom: 20px;
            }

            & a {
                color: black;
                text-decoration: none;
            }
            
            &__img {
                max-width: 100%;
                height: auto;
                border-radius: 15px 15px 0 0;   
                
                &__new {
                    background-color: #99e2d0;
                    color: #008766;
                    border-radius: 5px;
                    padding: 8px 10px;
                    width: 85px;
                    text-align: center;
                    font-size: 0.8rem;
                    position: absolute;
                    margin:0;
                    top:10px;
                    right: 10px;
                    
                    @include medium-mobile {
                        font-size: 1rem;
                        padding: 8px 12px;   
                    }            
                } 
            }

            &__description {
                color: black;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 20px 18px 18px 12px;
                
                & i {
                    padding-top: 5px;
                    font-size: 1.4rem;
                    stroke-width: 0.5px;                       
                }
                
                &__text {
                    padding-left: 14px;

                    @include laptop {
                        
                        & h3 {
                            font-size: $heading-size-mobile;
                        }
                        & p {
                            font-size: 1.2em;
                        }
                    }
                    
                    & h3 {
                        margin:0;
                        padding-bottom: 10px;                          
                    }
                    
                    & p {
                        margin:0;
                    }
                }
            }       
        }   
    }
}